@model CarRental.Models.modele

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Modele</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.nom_modele)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.nom_modele)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.datesortie)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.datesortie)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.marque.nom_marque)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.marque.nom_marque)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
