@model IEnumerable<CarRental.Models.ContratsByClient_Result>

@{
    ViewBag.Title = "ContratsByClient";
}

<h2>Contrats par Client</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_debut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montant_contrat)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_debut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montant_contrat)
        </td>
        
       
    </tr>
}

</table>
