@model IEnumerable<CarRental.Models.reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Reservations</h2>

<span class="btn btn-light">
    <i class="fas fa-plus"></i>
    @Html.ActionLink("Create New", "Create", new { @style = "color:#fff;" })
</span>



<div class="container-fluid">
    <!-- DataTales Example -->

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Liste des Reservations
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%"
                       cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Nom Client
                            </th>
                            <th>
                                Immat. Voiture
                            </th>
                            <th>
                                Date debut
                            </th>
                            <th>
                                Date fin
                            </th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                Nom Client
                            </th>
                            <th>
                                 Voiture
                            </th>
                            <th>
                                Date debut
                            </th>
                            <th>
                                Date fin
                            </th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.client.nom_cl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.voiture.immat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date_debut)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date_fin)
                            </td>
                            <td>
                                <span class="btn btn-primary text-light"><i class="fas fa-edit"></i> @Html.ActionLink("Edit", "Edit", new { id = item.idreserv }, new { @style = "color:#fff;" })</span>
                                <span class="btn btn-success"><i class="fas fa-list"></i>@Html.ActionLink("Details", "Details", new { id = item.idreserv }, new { @style = "color:#fff;" }) </span>
                                <span class="btn btn-danger"><i class="fas fa-trash-alt"></i>@Html.ActionLink("Delete", "Delete", new { id = item.idreserv }, new { @style = "color:#fff;" })</span>
                                <span class="btn btn-warning"><i class="fas fa-file"></i>@Html.ActionLink("Contrat", "ContratByReservation", new { id = item.idreserv }, new { @style = "color:#fff;" })</span>

                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>